<!--User View-->
<!---------------------------Nav Bar--------------------------->

<div class="nav-bar">
  <a> NGO</a>

  <div class="dropdown">
    <a> {{ user_info["user_full_name"] }} ( {{ user_info["user_role"] }} ) </a>
    <a class="dropbtn" href="">Logout</a>
  </div>
</div>

<!---------------------------Side Bar--------------------------->

<div class="side-bar">
  <h1>Welcome to NGO!</h1>
</div>

<!---------------------------Content Section--------------------------->
<div class="content">
  <h1>Make a Donation</h1>

  <div>
    <a [routerLink]="['/donations']">Donation Types</a> |
    <a [routerLink]="['/cart']">Cart</a>
    <br /><br />

    <router-outlet name="donation-cart-outlet"></router-outlet>
  </div>
</div>
