<form #Login_form="ngForm" (ngSubmit)="onSubmit(Login_form.value)">
  <div class="containment">
    <h1>Welcome to NGO Login</h1>
    <img src="https://www.ngoreferencemodel.org/img/logo.png" />

    <div class="formSec">
      <label for="email">
        Email:
      </label>
      <input type="text" id="email" name="user_email" ngModel />
      <label for="password">
        Password:
      </label>
      <input type="text" id="password" name="user_password" ngModel />
    </div>

    <br /><br />

    <div>
      <input type="submit" class="btn btn-dark" value="Login" />
    </div>

    <br /><br />

    <div>
      <a routerLink="">Dont have an account? Register</a>
    </div>
  </div>
</form>
