.container {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Kaushan Script', cursive;
}

.formSec {
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 5%;
    padding:30px
}