.content {
  background-color: white;
  color: black;
  width: 85%;
  margin-left: 15%;
  position: fixed;
}

.content h1 {
  background: lightgray;
  padding-left: 10px;
}

.inner_content {
  margin-left: 5%;
}

.inner_content p {
  font-size: 2em;
}

