<div class="content">
  <h1>Donation Confirmed!</h1>
  <br />

  <div class="inner_content">
    
    <div class="add_left_space">
      <a [routerLink]="['../donations']" class="btn btn-secondary btn-lg"
        >Donation Types</a
      >
      <a
        [routerLink]="['../cart']"
        class="btn btn-secondary btn-lg"
        [ngStyle]="{ 'margin-left': '20px' }"
        >Cart</a
      >
      <br /><br />
    </div>
    
    <p>Thank You for donation! An email will be sent to you shortly!</p>

  </div>
</div>
